/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* BODY BACKGROUND */
/* //////////////////////////////////////////////////////////////////////////////////////// */

body {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./resources/blackjack-table.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

/* HEADER SECTION */
/* //////////////////////////////////////////////////////////////////////////////////////// */

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 10px;
}

header h1,
header h2 {
  color: gainsboro;
  text-align: center;
}

header h2 {
  font-size: 1.5rem;
}

header h1 {
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* DEAL BUTTON */
/* //////////////////////////////////////////////////////////////////////////////////////// */

.new-game-deal-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 500px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 450px) {
  .new-game-deal-wrapper {
    justify-content: center;
  }
}

.deal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: darkred;
  color: gainsboro;
  border-radius: 10px;
  transition: box-shadow 0.2s;
}

.new-game-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: darkblue;
  color: gainsboro;
  border-radius: 10px;
  transition: box-shadow 0.2s;
}

.deal-btn:hover {
  cursor:pointer;
  box-shadow: 0 0 5px 5px gainsboro;
}

.new-game-btn:hover {
  cursor:pointer;
  box-shadow: 0 0 5px 5px gainsboro;
}

.deal-btn:active {
  box-shadow: none;
}

.new-game-btn:active {
  box-shadow: none;
}

.deal-btn span,
.new-game-btn span {
  padding-top: 3px;
  font-size: 1.75rem;
  text-align: center;
}

/* GAME OUTCOME MESSAGE */
/* //////////////////////////////////////////////////////////////////////////////////////// */

.game-message-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gainsboro;
  border-radius: 10px;
  z-index: 1;
  display: none;
  border: 5px solid goldenrod;
}

.game-message {
  color: darkred;
  padding: 20px;
}

/* CARDS SECTION */
/* //////////////////////////////////////////////////////////////////////////////////////// */

.dealer-card-wrapper {
  display: flex;
  padding: 20px 0 10px;
}

.user-card-wrapper {
  display: flex;
  padding: 10px 0 20px;
}

.dealer-card,
.user-card{
  background-color: white;
  background-image: url("./resources/playing-card-back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 140px;
  width: 100px;
  border-radius: 5px;
  margin: 0 5px;
  position: relative;
}

.suit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
}

.top-suit {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 1;
  font-size: 1.25rem;
}

.bottom-suit {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 1.25rem;
}

.H,
.D {
  color: red;
}

.S,
.C {
  color: black;
}

/* HIT AND STAY BUTTONS */
/* //////////////////////////////////////////////////////////////////////////////////////// */

.hit-stay-wrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.hit-btn,
.stay-btn {
  height: 70px;
  width: 70px;
  background-color: darkgray;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.2s;
}

.hit-btn:hover,
.stay-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 5px gainsboro;
}

.hit-btn:active,
.stay-btn:active {
  box-shadow: none;
}

.hit-btn span,
.stay-btn span {
  font-size: 1.25rem;
}

/* BETTING AND BALANCE SECTION */
/* //////////////////////////////////////////////////////////////////////////////////////// */

.betting-balance-wrapper {
  display: flex;
  width: 90%;
  max-width: 900px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.betting-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.chip {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  color: darkgoldenrod;
  margin: 0 5px;
  transition: box-shadow 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip span {
  font-size: 1.25rem;
  font-weight: 400;
}

.chip:hover {
  box-shadow: 0 0 2px 2px gainsboro;
}

.chip:active {
  box-shadow: none;
}

.chip:hover {
  cursor: pointer;
}

#chip1 {
background-color:white;
border: 2px solid goldenrod;  
}

#chip5 {
background-color:darkblue;
border: 2px solid goldenrod;
}

#chip10 {
background-color:darkred;
border: 2px solid goldenrod;
}

#chip50 {
background-color:darkblue;
border: 2px solid goldenrod;
}

#chip100 {
background-color:white;
border: 2px solid goldenrod;
}

#chip500 {
background-color: black;
border: 2px solid goldenrod;
}

.balance-wrapper span {
  font-size: 1.5rem;
  color: gainsboro;
  letter-spacing: 0.125rem;
  width: max-content;
}